* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #f4f5e6;
	color: #585858;
}
a:link {
	color: #808080;
}

/* visited link */
a:visited {
	color: #808080;
}

/* mouse over link */
a:hover {
	color: #808080;
}

/* selected link */
a:active {
	color: #101010;
}
